<template>
  <div class="row center-xs middle-xs w-100">
    <div
      class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-2"
      v-for="(producto, index) in listaProductos"
      :key="index"
    >
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          :src="imagenes[index]"          
          alt="Card image cap"
          style="width: 288px; height: 250px"
        />
        <div class="card-body">
          <h5 class="card-title">{{ producto.nombre }}</h5>
          <p class="card-text">{{ producto.descripcion }}</p>
          <p class="card-text">${{ producto.costoUnitario }}</p>
          <button class="btn btn-primary mr-3">Agregar al carrito</button>
          <input type="number" placeholder="0" min="1" max="20" />
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import Productoservice from "../services/Productoservice";

export default {
  name: "Home",
  data: function () {
    return {
      imagenes:[
        'https://cdn.pixabay.com/photo/2019/08/02/15/10/burger-4379863_960_720.jpg',        
        'https://cdn.pixabay.com/photo/2016/12/20/14/36/hot-dog-1920632_960_720.jpg"',        
        'https://cdn.pixabay.com/photo/2021/05/07/08/58/pizza-6235584_960_720.jpg',        
        'https://cdn.pixabay.com/photo/2019/09/05/19/58/nachos-4454941_960_720.jpg',        
        'https://cdn.pixabay.com/photo/2017/11/13/03/56/grilled-pineapple-pork-burrito-2944562_960_720.jpg',
        'https://cdn.pixabay.com/photo/2014/09/26/05/29/french-fries-461705_960_720.jpg',
        'https://cdn.pixabay.com/photo/2017/06/16/07/00/breakfast-2408034_960_720.jpg',
        'https://cdn.pixabay.com/photo/2015/03/11/00/31/chicken-667935_960_720.jpg'
      ],
      listaProductos: [],      
    };
  },
  methods: {

    listartProductos: async function () {
      Productoservice.getAll()
        .then((response) => {
          this.listaProductos = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },

    
  },

  created: async function () {
    this.listartProductos();
  },
};
</script>

<style>
</style>
