<template>
  <table class="table mt-2 table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">CostoUnitario</th>
        <th scope="col">Presentacion</th>
        <th scope="col">Disponibilidad</th>
      </tr>
    </thead>

    <tbody>
      <tr
        v-for="(producto, index) in listaProductos"
        :key="index"
        @click="setActiveProducto(producto, index)"
      >
        <td>{{ producto.id }}</td>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>{{ producto.costoUnitario }}</td>
        <td>{{ producto.presentacion }}</td>
        <td>{{ producto.disponibilidad ? "En existencia" : "Agotado" }}</td>
      </tr>
    </tbody>
  </table>

  
    
  

  <div class="col-sm-6">
    
    <form class="form">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          v-model="newProducto.nombre"
        />
      </div>

      <div class="form-group">
        <label for="descripcion">Descripcion</label>
        <input
          type="text"
          class="form-control"
          id="descripcion"
          v-model="newProducto.descripcion"
        />
      </div>

      <div class="form-group">
        <label for="costoUnitario">Costo unitario</label>
        <input
          type="number"
          class="form-control"
          id="costoUnitario"
          v-model="newProducto.costoUnitario"
        />
      </div>

      <div class="form-group">
        <label for="presentacion">Presentacion</label>
        <input
          type="text"
          class="form-control"
          id="presentacion"
          v-model="newProducto.presentacion"
        />
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ newProducto.disponibilidad ? "En existencia" : "Agotado" }}
      </div>
    </form>

    <button
      class="badge badge-primary mr-2"
      v-if="newProducto.disponibilidad"
      @click="updateDisponibilidad(false)"
    >
      En existencia
    </button>

    <button
      v-else
      class="badge badge-primary mr-2"
      @click="updateDisponibilidad(true)"
    >
      Agotado
    </button>

    <button @click="saveProducto" class="btn btn-success mr-2">Guardar</button>

    <button type="submit" class="btn btn-warning mr-2" @click="updateProducto">
      Update
    </button>

    <button class="btn btn-danger mr-2" @click="deleteProducto">
      Eliminar
    </button>
  </div>
</template>

<script>
import Productoservice from "../services/Productoservice";

export default {
  name: "Producto",
  data: function () {
    return {
      listaProductos: [],
      currentIndex: -1,
      newProducto: {
        id: null,
        nombre: "",
        descripcion: "",
        costoUnitario: null,
        presentacion: "",
        disponibilidad: true,
      },
    };
  },
  methods: {
    listartProductos: async function () {
      Productoservice.getAll()
        .then((response) => {
          this.listaProductos = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },

    //-------------------------------

    refreshListProducto() {
      this.listartProductos();
      this.newProducto = {
        id: null,
        nombre: "",
        descripcion: "",
        costoUnitario: null,
        presentacion: "",
        disponibilidad: true,
      };
      this.currentIndex = -1;
    },

    setActiveProducto(producto, index) {
      this.newProducto = producto;
      this.currentIndex = producto ? index : -1;
    },

    saveProducto() {
      var data = {
        nombre: this.newProducto.nombre,
        descripcion: this.newProducto.descripcion,
        costoUnitario: this.newProducto.costoUnitario,
        presentacion: this.newProducto.presentacion,
        disponibilidad: this.newProducto.disponibilidad,
      };

      Productoservice.create(data)
        .then((response) => {
          this.newProducto.id = response.data.id;
          console.log(response.data);
          this.submitted = true;
        })
        .catch((e) => {
          console.log(e);
        });
    },

    updateProducto() {
      Productoservice.update(this.newProducto.id, this.newProducto)
        .then((response) => {
          console.log(response.data);
          this.message = "El producto se ha actualizado!";
        })
        .catch((e) => {
          console.log(e);
        });
    },

    updateDisponibilidad(status) {
      var data = {
        id: this.newProducto.id,
        nombre: this.newProducto.nombre,
        descripcion: this.newProducto.descripcion,
        costoUnitario: this.newProducto.costoUnitario,
        presentacion: this.newProducto.presentacion,
        disponibilidad: status,
      };

      Productoservice.update(this.newProducto.id, data)
        .then((response) => {
          console.log(response.data);
          this.newProducto.disponibilidad = status;
          this.message = "Se ha actualizado correctamente el estado!";
        })
        .catch((e) => {
          console.log(e);
        });
    },

    deleteProducto() {
      Productoservice.delete(this.newProducto.id)
        .then((response) => {
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },

  created: async function () {
    this.listartProductos();
  },
};
</script>

<style>
</style>
