<template>
  <div id="app" class="app">
    
    <nav class="navbar navbar-dark bg-dark">
      <div class="navbar-header">
        <a type="button" class="image" v-on:click="loadApp">
          <img src="/logo.png" alt="Alternate Text" />
        </a>
      </div>

      <div>
        <a href="https://web.whatsapp.com/" target="_blank"
          >Pide por WhatsApp</a
        >
        &nbsp; | &nbsp;
        <a href="https://www.google.com/maps" target="_blank"
          >Puntos de venta</a
        >
      </div>

      <div class="separador"></div>

      <a
        type="button"
        class="btn btn-primary nav-link"
        v-if="is_auth"
        v-on:click="loadHome"
      >
        Inicio
      </a>

      <a
        type="button"
        class="btn btn-primary nav-link"
        v-if="is_auth"
        v-on:click="loadProductos"
      >
        Productos
      </a>

      <a
        type="button"
        class="btn btn-primary nav-link"
        v-if="is_auth"
        v-on:click="logOut"
      >
        Cerrar Sesión
      </a>

      <a
        type="button"
        class="btn btn-primary nav-link"
        v-if="!is_auth"
        v-on:click="loadLogIn"
      >
        Iniciar Sesión
      </a>

      <a
        type="button"
        class="btn btn-primary nav-link"
        v-if="!is_auth"
        v-on:click="loadSignUp"
      >
        Registrarse
      </a>
    </nav>

    <div class="container-fluid">
      <router-view
        v-on:completedLogIn="completedLogIn"
        v-on:completedSignUp="completedSignUp"
        v-on:logOut="logOut"
      >
      </router-view>
    </div>

    <ul class="espacios"></ul>
    <div class="footer">
      <nav>
        <div>
          <img width="300" src="/logo.png" alt="Alternate Text" />
          <p>
            <img
              width="15"
              src="https://cdn.pixabay.com/photo/2013/07/12/12/56/home-146585_960_720.png"
              alt="Alternate Text"
            />&nbsp; &nbsp;<strong>Principal: </strong>Calle 5ta No. 23 - 33
          </p>
          <p>
            <img
              width="15"
              src="https://cdn.pixabay.com/photo/2014/04/03/09/58/email-309491__340.png"
              alt="Alternate Text"
            />&nbsp; &nbsp;<strong>Correo: : </strong>minticfood@mf.co
          </p>
          <p>
            <img
              width="10"
              src="https://cdn.pixabay.com/photo/2013/07/13/10/30/icon-157358__340.png"
              alt="Alternate Text"
            />&nbsp; &nbsp;<strong>Telefono:: </strong>0180004323-7206
          </p>
        </div>

        <div>
          <div>
            <img
              height="150"
              src="https://www.gentedecanaveral.com/wp-content/uploads/2011/11/WEB_Superintenden_WIDE_TP.jpg"
              alt="Alternate Text"
            />
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <img
              width="150"
              src="https://cdn.pixabay.com/photo/2017/10/04/12/17/qr-code-2816041_960_720.png"
              alt="Alternate Text"
            />
          </div>
          <div>
            <img
              height="50"
              src="https://cdn.pixabay.com/photo/2015/05/26/09/37/paypal-784404_960_720.png"
              alt="Alternate Text"
            />
            &nbsp; &nbsp;
            <img
              height="50"
              src="https://cdn.pixabay.com/photo/2017/08/10/14/02/visa-2623015_960_720.png"
              alt="Alternate Text"
            />
            &nbsp; &nbsp;
            <img
              height="40"
              src="https://cdn.pixabay.com/photo/2021/09/20/08/55/credit-card-6640238_960_720.png"
              alt="Alternate Text"
            />
            &nbsp; &nbsp;
            <img
              height="60"
              src="https://cdn.pixabay.com/photo/2017/02/27/15/39/cheque-guarantee-card-2103509_960_720.png"
              alt="Alternate Text"
            />
          </div>
        </div>
      </nav>
    </div>
  </div>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
    rel="stylesheet"
  />
</template>









<script>
export default {
  name: "App",

  data: function () {
    return {
      is_auth: false,
    };
  },

  components: {},

  methods: {
    verifyAuth: function () {
      this.is_auth = localStorage.getItem("isAuth") || false;

      if (this.is_auth == false) this.$router.push({ name: "logIn" });
      else this.$router.push({ name: "home" });
    },

    loadLogIn: function () {
      this.$router.push({ name: "logIn" });
    },

    loadSignUp: function () {
      this.$router.push({ name: "signUp" });
    },

    completedLogIn: function (data) {
      localStorage.setItem("isAuth", true);
      localStorage.setItem("username", data.username);
      localStorage.setItem("token_access", data.token_access);
      localStorage.setItem("token_refresh", data.token_refresh);
      alert("Autenticación Exitosa");
      this.verifyAuth();
    },

    completedSignUp: function (data) {
      alert("Registro Exitoso");
      this.completedLogIn(data);
    },

    loadHome: function () {
      this.$router.push({ name: "home" });
    },

    loadProductos: function () {
      this.$router.push({ name: "productos" });
    },

    logOut: function () {
      localStorage.clear();
      alert("Sesión Cerrada");
      this.verifyAuth();
    },
  },

  created: function () {
    this.verifyAuth();
  },
};
</script>

<style>
.espacios {
  list-style-type: none;
  margin: 25px;
  padding: 0;
}

.fondo {
  width: 100%;
  position: absolute;
  z-index: -2;
}

.header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 10vh;
  min-height: 100px;
  background-color: #e69138;
  color: #e5e7e9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  align-self: end;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 300px;
  min-height: 100px;
  background-color: #333333;
  color: #e5e7e9;
}

.footer nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fondo {
  width: 100%;
  position: absolute;
  z-index: -2;
}

.separador {
  width: 40%;
}
</style>
